div{
width: 200px;
padding: 20px;
}

.formulario{
    background: green;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.formulario input{
    display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid red;
    font-family: Ariel;
    font-size: 16px;
}

.formulario textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 90%;
    max-width: 90%;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus{
    border: 2px solid #098;
}

.formulario input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background: none;
    border: 2px solid red;
    color: red;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.formulario input[type="submit"]:hover{
    border: 2px solid white;
    color: white;
}